.a
{
    margin:100px auto;
    background:#f00;
    padding: 20px ;
        width: 49%;
    border-radius: 20px;
    padding-left: 30px;
}

p
{
    padding:4px;
    border:1px solid #000;
    border-radius:20px;
    background:#ddd;
        width: 70%;
height: 20px;  
        margin-bottom: 40px;

}

div
{
    margin-bottom: 30px;
}

label{
display: block;  
    font-size: 20px;
    color:#fff;
}


button
{
        margin-bottom: 10px;

background:linear-gradient(120deg, #777 , #222);
        font-size: 20px;
box-shadow: 4px 4px 4px 4px #fff,
    -4px -4px 4px 4px #fff;
    color:#fff;
    border-radius: 10%;
}
