
body
{
	direction:rtl;
	text-align:right;
	background:#f0f0f0;
	color:#e41718;
}
/*   ---  background of nabvbar ---*/

.bg-dark , .dropdown-menu{
	background-image:linear-gradient(180deg , #fff , #999);
	text-align:right;

}

.navbar    /* padding of navbar */
{
padding:20px;
border-bottom: 1px solid #777;
}
/*---- color of ite in navbar---*/
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active
{
	color:#222;
}

/*---- hover in dropdown ---*/
.dropdown-item:hover, .dropdown-item:focus
{
background:#e41718;
color:#fff;
}


.navbar-dark .navbar-nav .active > .nav-link:hover{
	color:#fff;   

background:#f00;
}

.dropdown-menu
{
text-align:right;
right:1%}

.navbar-toggler-icon
{
	background-color:#777
}

/*  ----------end navbar */
 

.w-100
{
height:490px}










.carousel-indicators .active
{
	background-color:#e41718;
}

/*------------------------------*/


.pro{
padding-top:10px;
border:1px solid #999;
background:#fff;}



.id{
background:#e41718;
color:#fff;
padding-right:3px;}


.card
{
box-shadow:1px 1px 3px 3px  #ddd;
border:1px solid #999;
margin-bottom:30px;}





.btn-primary:hover
{
background:#e41718;
}

.btn-primary
{
color:#e41718;
background:#fff;
border:1px solid #e41718;

}



 .who
{
	margin-top:10px;
	margin-bottom:4px;
color:#333;}



 .who2 , .who2:hover
{
	
color:#e41718;
text-decoration:none;
}



